<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>Blog</title>
	</head>
	<body>
		<h1>Artículo</h1>
		
		{%if articuloPrincipal != null %}
		
		  <!-- LAS LLAVES MAGICAS SON PARTE DE NUNJUCKS
			EL SISTEMA DE TEMPLATES 
			--->
		  <h2>{{articuloPrincipal.titulo}}</h2>
		  <p>{{articuloPrincipal.contenido}}</p>
		  <p>FECHA:{{articuloPrincipal.fecha_creacion}}</p>
		  <p>Categorias:
		  	{%for categoria in articuloPrincipal.categorias %}
		  	   {{categoria.nombre}}&nbsp;
		  	{%endfor%}
		  </p>
		  
		  <h3>Comentarios:</h3>
		  {%for comentario in articuloPrincipal.comentarios %}
		    <p>{{comentario.comentario}}</p>
		  {%endfor%}
		  
		{%else%}
		
		    <h2>NO EXISTE EL ARTICULO</h2>
		    
		{%endif%}
		
		
		
	</body>
</html>